<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60049961014-0q6npkred7eh6thvhaf1h37rv94fpm9f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60049961014-0q6npkred7eh6thvhaf1h37rv94fpm9f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>60049961014-pfs61ol0nkc1l54n5hpv4i69ivrj53ih.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBw0t5B6N4zJ0tzDDdYNL2EOkzRG0mwoOk</string>
	<key>GCM_SENDER_ID</key>
	<string>60049961014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.educatio</string>
	<key>PROJECT_ID</key>
	<string>educatio-bsuir</string>
	<key>STORAGE_BUCKET</key>
	<string>educatio-bsuir.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60049961014:ios:c1070c744279d879ec2897</string>
</dict>
</plist>