<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Educatio</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.60049961014-0q6npkred7eh6thvhaf1h37rv94fpm9f</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>1</string>
	<key>UIAppFonts</key>
	<array>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>OpenSans-ExtraBold.ttf</string>
		<string>OpenSans-ExtraBoldItalic.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>OpenSans-Medium.ttf</string>
		<string>OpenSans-MediumItalic.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-SemiBold.ttf</string>
		<string>OpenSans-SemiBoldItalic.ttf</string>
		<string>OpenSansCondensed-Bold.ttf</string>
		<string>OpenSansCondensed-BoldItalic.ttf</string>
		<string>OpenSansCondensed-ExtraBold.ttf</string>
		<string>OpenSansCondensed-ExtraBoldItalic.ttf</string>
		<string>OpenSansCondensed-Italic.ttf</string>
		<string>OpenSansCondensed-Light.ttf</string>
		<string>OpenSansCondensed-LightItalic.ttf</string>
		<string>OpenSansCondensed-Medium.ttf</string>
		<string>OpenSansCondensed-MediumItalic.ttf</string>
		<string>OpenSansCondensed-Regular.ttf</string>
		<string>OpenSansCondensed-SemiBold.ttf</string>
		<string>OpenSansCondensed-SemiBoldItalic.ttf</string>
		<string>OpenSansSemiCondensed-Bold.ttf</string>
		<string>OpenSansSemiCondensed-BoldItalic.ttf</string>
		<string>OpenSansSemiCondensed-ExtraBold.ttf</string>
		<string>OpenSansSemiCondensed-ExtraBoldItalic.ttf</string>
		<string>OpenSansSemiCondensed-Italic.ttf</string>
		<string>OpenSansSemiCondensed-Light.ttf</string>
		<string>OpenSansSemiCondensed-LightItalic.ttf</string>
		<string>OpenSansSemiCondensed-Medium.ttf</string>
		<string>OpenSansSemiCondensed-MediumItalic.ttf</string>
		<string>OpenSansSemiCondensed-Regular.ttf</string>
		<string>OpenSansSemiCondensed-SemiBold.ttf</string>
		<string>OpenSansSemiCondensed-SemiBoldItalic.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
